@model _03075.Proyecto_1.SusanMurillo.Models.Cliente

@{
    ViewData["Title"] = "Buscar";
}

<h1>Buscar</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <form asp-action="Buscar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>IdCliente:</label>
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
