@model _03075.Proyecto_1.SusanMurillo.Models.Empleados

@{
    ViewData["Title"] = "Buscar";
}

<h1>Buscar</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Buscar" method="post">
            @Html.AntiForgeryToken() 

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Cedula" class="control-label">Cédula:</label>
                @Html.TextBoxFor(model => model.Cedula, new { @class = "form-control" })
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
