@model _03075.Proyecto_1.SusanMurillo.Models.Empleados

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           
            <input type="hidden" name="cedulaOriginal" value="@Model.Cedula" />

            <div class="form-group">
                <label asp-for="Cedula"></label>
                <input asp-for="Cedula" class="form-control" readonly />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioXDia" class="control-label"></label>
                <input asp-for="SalarioXDia" class="form-control" />
                <span asp-validation-for="SalarioXDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacacionesAcumuladas" class="control-label"></label>
                <input asp-for="VacacionesAcumuladas" class="form-control" />
                <span asp-validation-for="VacacionesAcumuladas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechadeRetiro" class="control-label"></label>
                <input asp-for="FechadeRetiro" class="form-control" />
                <span asp-validation-for="FechadeRetiro" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
